.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212; 
  color: #fff;
  padding: 40px 0;
  border-bottom: 1px solid #34c94b; 
}

.textContainer {
  text-align: right;
  margin-right: 50px; 
}

.textContainer h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.textContainer h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headphones {
  width: 150px; 
  height: auto;
}